<div class="container d-flex flex-column">


    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center d-flex justify-content-between">
            <div class="col-auto">
                <label for="name" class="form-label">Nueva Categoria</label>
            </div>
            <div class="col-6">
                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="categoryname" />
            </div>


        </div>
        <div class="col-auto d-flex align-items-center justify-content-center" id="saveBtn">
            <button type="submit" class="btn btn-success btn-outline-light btn-floating my-3" (click)="addnewcategory()">Guardar</button>
        </div>
    </div>
    <div class="col-auto d-flex align-items-center justify-content-center" id="saveBtn">
        <button class="btn btn-danger btn-outline-light btn-floating" [routerLink]="['/']">Cancelar</button>
    </div>
    <div class="d-flex justify-content-center" *ngIf="activemessage ==true">
        <div class="row g-3 align-items-center d-flex justify-content-between">
            <div class="alert alert-success col-auto" role="alert">
                {{message}}
            </div>
        </div>
    </div>
</div>